.fb-header {
    width: 43%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    background: #3d5b99;
    color: white;
    font-family: verdana;
}

.fb-header input {
    margin-right: 10px;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 53px;
}

#form1 {
    display: flex;
    align-items: center;
    font-family: verdana;
    font-size: 10px;
    margin-left: 4px;
}

#form2 {
    display: flex;
    align-items: center;
    font-family: verdana;
    font-size: 10px;
}

.font {
    font-size: 9.5px;
}

#form3 {
    display: flex;
    align-items: center;
    font-family: verdana;
    font-size: 10px;
}

.submit1 {
    background: #5b7bc0;
    cursor: pointer;
    color: white;
}

.fb-body {
    display: flex;
    color: white;
    font-family: verdana;
}

#form4 {
    font-family: verdana;
    font-size: 14px;
    color: #142170;
    width: 43%;
}

#intro1 {
    left: 178px;
    top: 20px;
    font-family: verdana;
    font-size: 20px;
    color: #142170;
    height: 75px;
    width: 550px;
}

#intro2 {
    font-family: verdana;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}

#img2 {
    top: 130px;
    left: 178px;
    width: 537px;
    height: 195px;
}

#firstname,
#lastname {
    width: 100%;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    background: white;
    padding: 10px;
    font-size: 18px;
    margin-top: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

#day,
#month,
#year {
    width: 80px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    background: white;
    padding: 5px;
    font-size: 13px;
    margin-top: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

#mailbox,
#mail,
#confirm_mail,
#mdp {
    width: 100%;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    background: white;
    padding: 10px;
    font-size: 18px;
    margin-top: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

#r-b {
    font-size: 12px;
    height: 15px;
    width: 15px;
}


/* .button2 {
	width:250px;
	height:40px;
	left:750px;
	top:625px;
	background:green;
	font-family:verdana;
	font-size:18px;
	color:white;
	border-radius:5px 5px 5px 5px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
	cursor:pointer;
	outline:none;
} */

#intro4 {
    font-family: verdana;
    font-size: 12px;
    color: gray;
}

#intro5 {
    font-family: verdana;
    font-size: 14px;
    color: gray;
}

#fb-body-footer-base {
    width: 900px;
    top: 15px;
    left: 200px;
    color: blue;
    height: 60px;
}

.font-size {
    font-size: 8px;
    padding-right: 22px;
}

.green-btn {
    text-align: center;
}

.center-element {
    text-align: center;
}


/********************************************* MEDIA QUERIES **************************************/

@media (max-width: 1024px) {
    .fb-header {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 540px) {
    #form4 {
        font-family: verdana;
        font-size: 14px;
        color: #142170;
        width: 100%;
    }
    #intro4 {
        width: auto;
    }
    .center-element {
        text-align: center;
    }
    .font {
        width: 102%;
    }
}

@media all and (min-width: 541px) and (max-width: 1024px) {
    .center-element {
        text-align: center;
    }
    #form4 {
        font-family: verdana;
        font-size: 14px;
        color: #142170;
        width: 100%;
    }
    #form4 {
        font-family: verdana;
        font-size: 14px;
        color: #142170;
        width: 100%;
    }
    #firstname,
    #lastname,
    #mail,
    #confirm_mail,
    #mdp {
        width: 100%;
        height: 40px;
        border-radius: 5px 5px 5px 5px;
        background: white;
        padding: 10px;
        font-size: 18px;
        margin-top: 8px;
        border-width: 1px;
        border-style: solid;
        border-color: gray;
    }
    .replace {
        text-align: center;
    }
}